<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body class="container">
    
            <h1>
                My Express Guestbook
                <a href="/new-entry" class="btn btn-primary pull-right guest">
                Write in the guestbook
                </a>
                </h1>
