.papa{color:#ad2419;background-color: lightseagreen;border: #13b516;}
.papi{color:#ad2419;background-color: lightseagreen;border: #13b516;}
.button{background-color:#009688;}
body {background-color:#524e3f;width : 800px;}
body h1{
    font-family : myfont;
    color : white;
}
.guest{
    background-color:#009688;
}
h2{
    font-family: myfont;
    color:white;}
label{color: wheat; }

@font-face{font-family : "myfont";
src:url("Satanyc Demoniac St.ttf");
}

#form1{
    width : 70%;
    margin: 0 auto;
}